.app-name {
    font-family: 'Truecolor Personal Use Regular', sans-serif; 
    font-size: 6em;
    color: var(--font-color);
   
  }
  
  
  .app-name-logo-container {
    display: flex;
    justify-content: center;
   
  }
  
  
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }
  
  #official-logo {
    color: white;
    font-size: 8em;
    margin-top: 50px;
    margin-right: -20px;
  }
  
  .main-app-container {
    width: 100vh;
    height: 100vh;
  }
  
  
  #horizontal-line {
    width: 50%;
    height: 1px;
    top: 40%;
    left: 0%;
    position: absolute;
    background-color: var(--font-color);
  }

  #list-of-users {
    font-family: 'Truecolor Personal Use Regular', sans-serif;
    font-size: 4em;
    color: var(--font-color);
    width: 50%;
    top: 30%;
    left: 15%;
    position: absolute;
    font-size: 4em;
    font-weight: 100;
  }

  @keyframes slideInLeft {
    from { 
      transform: translate(-60%, -50%);
      opacity: 0; 
    }
    to { 
      transform: translate(-50%, -50%);
      opacity: 1; 
    }
  }
  #arrow-nav-back {
    position: absolute;
    left: 3%;
    top: 3%;
    color: #FFFFFF;
    font-size: 3.5em;
    cursor: pointer;
    z-index: 2;
  }
  
  .user-list {
    font-family: 'Truecolor Personal Use Regular', sans-serif;
    font-size: 2em;
    color: var(--font-color);
    width: 50%;
    top: 45%;
    left: 2%;
    position: absolute;
    font-size: 2em;
    font-weight: 100;
  }
  
  .user-list .user {
    margin-bottom: 20px;
  }
  
  .user-list .user:not(:first-child) {
    margin-top: 20px; 
  }
  
  .user-list .ban-button, .unban-button , .delete-button{
    font-size: 0.8em;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    background-color: #002B2A;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px;
  }
  
  .user-list .ban-button:hover , .unban-button:hover, .delete-button:hover{
    background-color: #005458;
    transform: scale(1.05);
  }
  
  .user-list .ban-button:active, .unban-button:active, .delete-button:active {
    transform: scale(0.95);
  }
  
  

  .fries-admin{
    position:absolute;
    top: 40%;
    left: 50%;
  }


  #admin-continue-button {
    font-size: 1.2em;
    padding: 15px 30px;
    width: 250px;
    text-align: center;
    font-weight: 700;
    color: var(--font-color);
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: var(--font-color);
    background: none;
    cursor: pointer;
  }
  
#body-admin-page{
  overflow-y: scroll ;
}