body {
    background-image: url('../frontend/images/png/background-image.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
}