#my-cart-body-page {
    height: auto;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#items-title, .receipts-title {
    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 5%;
}

#items-list-container {
    width: 50%;
    margin-top: 20px;
    margin-left: 90px;
}

.item-details-container img {
    width: 135px;
    height: 120px;
}

.item-container {
    background-color: rgba(217, 219, 222, 0.2);
    font-family: 'Raleway', sans-serif;
    color: var(--font-color);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--font-color);
    border-radius: 30px;
    width: 100%;
    margin-bottom: 2%;
}
  

.item-details-container {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.price-and-quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40%;
}

.info-item {
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.buttons-container button {
    height: 40px;
    width: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}

.increase-button {
    background-color: #252525;
}

.decrease-button {
    background-color: var(--background-color);
}

#generate-receipt {
    margin-left: 5%;
    background: none;
    color: var(--font-color);
    font-family: 'Raleway';
    font-size: 2.5rem;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.info-generate-price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

#total-price {
    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
}

.pasta-image-cart {
    position: absolute;
    top: 5%;
    right: -7%;
}

#vertical-line {
    background-color: var(--font-color);
    width: 1px;
    height: 100%;
    margin: 20px 0;
}

#my-cart-button-back {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-color);
}

.back-container {
    display: flex;
    align-items: center;
    color: var(--font-color);
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    width: 80%;
    margin-bottom: 20px;
}

.my-cart-container {
    display: flex;
    margin-left: 15px;
}

.scrollable-container {
    max-height: 600px; 
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
  }
  .item-container {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .item-container:last-child {
    border-bottom: none;
  }
  .receipt-item {
    margin-left: 80px;
    margin-top: 5px;
    display: block;
    width: 20%;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #18181A;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .receipt-item:hover {
    background-color: var(--font-color);
    color: #fff;
  }
