.app-name {
    font-family: 'Truecolor Personal Use Regular', sans-serif; 
    font-size: 6em;
    color: var(--font-color);
}

.app-name-logo-container {
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

#official-logo {
    color: white;
    font-size: 8em;
    margin-top: 50px;
    margin-right: -20px;
}

#icon-menu {
    display: flex;
    justify-content: space-between;
    background-color: #18181A;
    border-radius: 20px;
    padding: 12px; 
    position: fixed; 
    bottom: 20px;
    color: var(--font-color); 
    border: 1px solid var(--font-color);
    left: 50%;
    transform: translateX(-50%); 
    width: 22em; 
}

#icon-menu span {
    cursor: pointer; 
    font-size: 2.5em;
    color: var(--font-color);
}

#my-cart-button {
    display: flex;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: var(--font-color);
}

.button-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: none;
    border-radius: 10px;
    padding: 5px; 
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 55rem;
}

.button-container button {
    cursor: pointer; 
    background-color: transparent; 
    color: var(--font-color); 
    font-family: 'Raleway', sans-serif;
    font-weight: 600; 
    font-size: 1.6em;
    margin-top: 7%; 
    padding: 15px 10px;
    border-radius: 20px;
    height: fit-content;
    border-color: var(--font-color);
}

#recipes-to-try {
    font-family: 'Raleway';
    color: var(--font-color);
    font-size: 3.5em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#products-to-try {
    font-family: 'Raleway';
    color: var(--font-color);
    font-size: 3.5em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#my-cart-button {
    display: flex; 
    align-items: center; 
    position: fixed; 
    top: 10px; 
    right: 10px; 
    border-radius: 5px; 
    padding: 5px; 
}

#my-cart-button p {
    margin-left: 5px; 
}

#carousel-container {
    position: absolute;
    display: flex;
    justify-content: center; 
    overflow: hidden; 
    width: 80%; 
    margin: 0 auto; 
    top: 30%; 
    left: 50%;
    transform: translate(-50%);
}

#carousel-container-products {
    position: absolute;
    display: flex;
    justify-content: center; 
    overflow: hidden; 
    width: 80%; 
    margin: 0 auto; 
    top: 140%; 
    left: 50%;
    transform: translate(-50%);
}

.carousel-arrow {
    cursor: pointer; 
    font-size: 2rem; 
    padding: 10px; 
    color: #ccc; 
}

.carousel-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.carousel-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 10px; 
    width: 200px; 
    height: 200px; 
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    z-index: 1;
}

.carousel-item img {
    width: 100%; 
    height: 150px; 
    object-fit: cover;
}

.carousel-side-panel {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 20%; 
    opacity: 0.7; 
    transition: opacity 0.5s ease-in-out; 
}

.carousel-side-panel.active {
    opacity: 1;
}

.carousel-side-panel.blurry {
    filter: blur(5px); 
}

#carousel-left-arrow,
#carousel-right-arrow {
    z-index: 1; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 2rem;
    padding: 10px;
    color: #ccc; 
}

#carousel-left-arrow {
    left: 10px; 
}

#carousel-right-arrow {
    filter: none;
    right: 10px; 
}

section {
    position: relative;
    width: 100%;
    height: 200vh; /* Increased height to accommodate both carousels */
}

#for-you-body { 
    height: auto;
    overflow-y: scroll;
}
